.head-slider-container{
	position: relative;
	background-color: #555555;
	width: 100%;
	height: 300px;
}

.head-slider-container .imgHolder{
	height: 300px;
	position: relative;
	width: 300px;
	margin: auto;
}

.head-slider-container .imgHolder .holder-fix{
	top: 50%;
	margin-top: -100px;
	position: absolute;
}

.head-slider-container img{
	height: 200px;
	width: 300px;
}
