<script type="text/html" id="html_otherSearchList">
	<div class="searchbox-background"></div>
	<div class="content">
		<ul>
			<% if (Main.tpldata.length == 0) { %>
				<li><div class="header-container"><span class="noresults">NO MATCHING RESULTS TO DISPLAY</span></div></li>
			<% }
			else { %>
				<%
					var i,
						j,
						currMovie;
					for ( i = 0; i < Main.tpldata.length; i++ ) {
						currMovie = Main.tpldata[i];
				%>
				<li>
					<div class="header-container">
						<img src="/images/movies/small/<%=currMovie.smallImage%>" />
						<span class="movie-title"><%=currMovie.outputName%></span>
					</div>
					<div class="arrow-container"><div class="arrow"></div></div>
					<div class="button-container">
					<a href="#" class="show-trailer" id="<%=currMovie.movieId%>">Trailer</a>
						<% 
							for ( j = 0; j < currMovie.active_links.length; j++ ) {
								var _linkName = currMovie.active_links[j],
									_tmpObj = currMovie[currMovie.active_links[j]];
						%>
								<a href="<%=_tmpObj.url%>" target="_blank"><%=_tmpObj.name%></a>
						<% } %>
					</div>
				</li>
				<% }
				} %>
		</ul>
	</div>
	<div class="close"></div>
</script>