html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body{	
	font-size: 14px;
	font-family: Helvetica, Verdana, Arial;
	background-color: #000000;
	width: 100%;
}

#wrapper{
	height: 100%;
	z-index: 1;
	width: 100%;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.logo-container {
	left: 20px;
	top: 20px;
	position: absolute;
	height: 65px;
	width: 193px;
	background-image: url("/images/logo.png");
}

.background-blurry {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 4;
	display: none;
}

#page{
	height: 100%;
	width: 100%;
	position: relative;
	/*box-shadow: 1px 1px 4px 1px #555555;*/
	margin: 0px auto 0px auto;
}

p, ul, li {
	padding: 0px;
	margin: 0px;
}

ul {
	list-style: none;
}

.clear{
	clear: both;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.overlay-background {
	z-index: 99;
	display: none;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	background-image: url(/images/overlay_background.png);
	/*background-image: url("/images/index/movie_detail_bkrd.png");*/
}

.close {
	opacity: 0.3;
	position: absolute;
	height: 25px;
	background: url("/images/close_btn.png") no-repeat;
	margin: auto;
	width: 25px;
	color: #ffffff;
}
