.topNav-container {
	/*margin-top: 20px;*/
}

.topNav-container {
	height: 100px;
	position: relative;
	padding-bottom: 20px;
	background-image: url(/images/index/movie_detail_bkrd.png);
	border-radius: 5px;
	width: 1050px;
	margin: auto;
}

#topNav{
	color: #ffffff;
	padding: 10px 0px;
	margin: 0px auto 0px auto;
}

#topNav li{
	margin-top: 25px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 12px;
	list-style: none;	
}

#topNav li h1 {
	font-weight: 300;
	margin-bottom: 25px;
	letter-spacing: 8px;
	font-size: 20px;	
}