#topNav{
	/*background: url(/images/topNav/topNav_bkrnd.jpg) repeat-x;*/
	width: 100%;
	padding: 0px;
	margin: 20px auto 0px auto;
	background-color: #e8c9b6;	
}

#topNav ul{
	
	
	position: relative;
	overflow: hidden;
	
	list-style: none;
	margin: 0px auto;
	padding: 0px;
	width: 1000px;
}

#topNav ul > span{
	background: url(/images/topNav/topNav_active.png) no-repeat;
	height: 50px;
	width: 50px;
	left: 40px;
	top: 25px;
	position: absolute;
}

#topNav ul li{
	position: relative;
	font-size: 12px;
	text-transform: uppercase;
	background: url(/images/topNav/topNav_border.jpg) no-repeat;
	/*margin: 20px 30px;*/
	padding: 20px 40px 20px 40px;
	float: left;
	
}

#topNav ul li.active span{
	margin-left: -25px;
	height: 50px;
	width: 50px;
	left: 50%;
	bottom: -20px;
	position: absolute;
	background: url(/images/topNav/topNav_active.png) no-repeat;
}

#topNav ul li.last{
	width: 2px;
	background: url(/images/topNav/topNav_border.jpg) no-repeat;
	/*margin: 20px 30px;*/
	padding-left: 0px;
	float: left;
	
}

#topNav ul li.last:hover{
	border-radius: 0px;
	box-shadow: none;
	
}

#topNav ul li:hover{
	background: url(/images/topNav/topNav_bkrnd.png) bottom repeat-x;
	border-radius: 5px 5px 0px 0px;
/*	box-shadow: inset 1px 1px 10px 1px #2A0000;*/
	
}

#topNav .title{

}

#topNav .header{
	height: 260px;
	width: 170px;

	background: url(/images/profile_pic.jpg) no-repeat;
}
